Flask==1.0.2
scipy==1.1.0
WTForms==2.2.1
Flask_Login==0.4.1
numpy==1.15.4
SQLAlchemy==1.2.15
Werkzeug==0.14.1
alembic==1.0.6
Flask_Migrate==2.3.1
Flask_SQLAlchemy==2.3.2
Flask_WTF==0.14.2
Flask_Mail==0.9.1
Keras==2.2.4
SimpleITK==1.2.0
imageio==2.4.1
tensorflow
gunicorn
