
<hr />

<footer class="footer-distributed">
		<div class="footer-right">

				{% if site.github_username %}
		      <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
		    {% endif %}
				{% if site.linkedin_username %}
					<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin"></i></a>
				{% endif %}
		    {% if site.twitter_username %}
		      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
		    {% endif %}

			</div>

			<div class="footer-left">
				<p class="footer-links">
					<a href="{{site.url}}">Home</a>
					·
{% for page in site.pages %}
	{% if page.tags contains "about" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "contact" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "portfolio" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "projects" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "resume" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
{% endfor %}
	</p>
	<p>&copy; Suyog Jadhav</p>
	</div>
</footer>



<style>

footer .desktop-footer {
    background-color: #292c2f;
  	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  	box-sizing: border-box;
  	width: 100%;
  	text-align: left;
  	font: normal 16px sans-serif;

  	padding: 45px 50px;
  	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* Custom */

footer .center{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/* Custom */

.client-each, .footer-bar, .section, footer .desktop-footer {
    max-width: 45.33563em;
}

footer {
    margin-bottom: 30px;
    visibility: visible;
    -webkit-transform: translateY(0) scale(1);
    opacity: 1;
    transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
}
</style>

<style>
.home .contact-overlay .contact-a:nth-child(6n+1), .icon-and-text:nth-child(2n+1), footer .desktop-footer .footer-each:nth-child(6n+1) {
    clear: left;
}
footer .desktop-footer .footer-each {
    float: left;
    display: block;
    /* margin-right: 4%; */
    /* width: 14.70196%; */
}

footer .desktop-footer .footer-each:first-child {
    /* margin-left: 4%; */
}

footer .footer-each a {
  text-decoration: none;
  background-image: none
  /* color: #000; */
  /* font-weight: 300; */
  word-wrap: normal;
}

footer .footer-each a:active, footer .footer-each a:hover {
    outline-width: 0;
}

.founder-each h2, .group-pic, .header-title, .home .contact-overlay .contact-a, .section h1, .section h2, .section h3, .section p, .team small, .title-div, body .home .contact-overlay .contact-a-mob, footer .desktop-footer .footer-each, footer .mobile-footer, footer .mobile-footer .footer-each, nav li {
    text-align: center;
}

.contact-a, .contact-a span, .contact-a-mob span, .footer-each span, footer, sub, sup {
    position: relative;
}

.contact-a span:before, .contact-a-mob span:before, .footer-each span:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #000;
    transition: .4s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.contact-a a:hover span:before, .contact-a-mob a:hover span:before, .footer-each a:hover span:before {
    content: '';
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

</style>

{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h5, article h5, article h6');
</script>{% endif %}
