<script language="javascript">
        function autoResizeDiv()
        {
            document.getElementById('full-screen-me').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
    </script>
<style type="text/css">
body {
    overflow:hidden;
}
</style>
<iframe id="full-screen-me"
src="https://docs.google.com/document/d/e/2PACX-1vQCPcv0T8h7BQ-Y2J9Y5vDBh5YQ_6mFpYSS-Wp--kmm5GhRoyx7ogDoyUIHFw8XKDkiJFU5PBZ-Nsl0/pub?embedded=true"
style="overflow:hidden;height:100%;width:100%" frameborder="0" wmode="transparent"></iframe>
