{% extends "base.html" %}

{% block content %}
{% if not success %}
<div class="w3-container">
  <h1 class="w3-xxxlarge w3-text-black"><b>Sorry Something Went Wrong.</b></h1>
  <hr style="width:50px;border:5px solid red" class="w3-round">
  <p> {{ error }} </p>
</div>
{% else %}

<div class='w3-container'>
    <center><h1 class="w3-jumbo w3-text-black"><b>Analysis.</b></h1></center>
    <center><hr style="width:50;border:5px solid red" class="w3-round"></center>

    <h3 class="w3-xxxlarge w3-text-black"><b>Input Images</b></h3>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <div class="row">
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">T1</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t1.gif') }}" alt="T1" style="width:100%;">
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">T2w</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t2.gif') }}" alt="T2" style="width:100%">
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">T1CE</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t1ce.gif') }}" alt="T1CE" style="width:100%">
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">FLAIR</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/flair.gif') }}" alt="FLAIR" style="width:100%">
      </div>
    </div>

    <h3 class="w3-xxxlarge w3-text-black"><b>Output (Segmented Tumors)</b></h3>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <br />
    <b>Label coding:</b><br />
    In Red: NCR/NET <br />
    In Green: ED <br />
    In Blue: ET <br />
    <br />
    *The segmentations appear somewhat blurred out because the resolution is lowered before feeding the MRI to our model. This helps computation and reduces load on the PC.
    <div class="row">
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">Segmented T1</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t1_seg.gif') }}" alt="Segmented T1" style="width:100%;">
        <a href='/download-mask/{{ file }}/t1', target='_blank'><center><h3 class="w3-xlarge w3-text-red">Download</h3></center></a>
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">Segmented T2w</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t2_seg.gif') }}" alt="Segmented T2" style="width:100%">
        <a href='/download-mask/{{ file }}/t2', target='_blank'><center><h3 class="w3-xlarge w3-text-red">Download</h3></center></a>
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">Segmented T1CE</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/t1ce_seg.gif') }}" alt="Segmented T1CE" style="width:100%">
        <a href='/download-mask/{{ file }}/t1ce', target='_blank'><center><h3 class="w3-xlarge w3-text-red">Download</h3></center></a>
      </div>
      <div class="column">
        <center><h3 class="w3-xlarge w3-text-black">Segmented FLAIR</h3></center>
        <img src="{{ url_for('static', filename='images/gifs/flair_seg.gif') }}" alt="Segmented FLAIR" style="width:100%">
        <a href='/download-mask/{{ file }}/flair', target='_blank'><center><h3 class="w3-xlarge w3-text-red">Download</h3></center></a>
      </div>
    </div>

  </div>
{% endif %}
</div>
{% endblock %}
