<!--  This is the base template. All other templates will 'inherit' from it. -->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Brainy</title>
      {% else %}
      <title>Welcome to Brainy</title>
      {% endif %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

        <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:0px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
      </style>
      <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
      <style>
      /* * {
        box-sizing: border-box;
      } */
      @media (min-width: 1024px) {
        .w3-container {margin-left:340px; margin-right:40px; margin-top:75px}

      }

      .row {
        display: flex;
      }

      /* Create three equal columns that sits next to each other */
      .column {
        margin: 25px;
        flex: 33.33%;
        padding: 5px;
      }

      </style>
    </head>
    <body>

      <a class="github-fork-ribbon" href="https://www.github.com/IAmSuyogJadhav/Brainy" data-ribbon="Fork me on GitHub" title="Fork me on GitHub"></a>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-xlarge w3-display-topleft" style="width:100%;font-size:22px"><b>&#215;</b></a>
  <div class="w3-bar-block">
  <center><img src="{{ url_for('static', filename='icon.png') }}" style="max-width:50%;height:auto;"></center>

  </div>
  <div class="w3-bar-block">
    <h1 class="w3-jumbo w3-text-white"><b>Brainy</b></h1>
  </div>
  <div class="w3-bar-block">
    <a href="/index" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/upload" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Generate a new MMRI file</a>
    <a href="https://github.com/IAmSuyogJadhav/Brainy/issues/new" target='_blank' onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Report an Issue</a>
    <br />
    <a class="w3-bar-item w3-button w3-hover-white">Support the developers!</a>
    <a class="github-button" href="https://github.com/IAmSuyogJadhav" data-size="large" data-show-count="true" aria-label="Follow @IAmSuyogJadhav on GitHub">Follow @IAmSuyogJadhav</a>
    <a class="github-button" href="https://github.com/ubamba98" data-size="large" data-show-count="true" aria-label="Follow @UBamba98 on GitHub">Follow @UBamba98</a>
    <a class="github-button" href="https://github.com/gktejus" data-size="large" data-show-count="true" aria-label="Follow @GkTejus on GitHub">Follow @GKTejus</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  <a href="/index" class="w3-bar-item w3-button w3-hover-white">Brainy<sub>βeta</sub></a>
</header>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->

<div class="w3-main" style="margin-left:340px;margin-right:40px;margin-top:75px">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="w3-container">
              <hr />
              <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              <hr />
            {% endif %}
          </div>
        {% endwith %}
        {% block content %}{% endblock %}
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
