{% extends "base.html" %}

{% block content %}
<div class="w3-container">
  {% if files %}
    <h1 class="w3-xxxlarge w3-text-red"><b>Select an existing MRI scan file.</b></h1>
    <form action="{{ url_for('analyze') }}", method="post">
      <select name="files_dropdown" method="GET" action="/">
        {% for file in files %}
          <option value= "{{file}}" SELECTED>{{file}}</option>"
        {% endfor %}
      </select>
      <input type = "submit"/>
    </form>
  {% else %}
    <h1 class="w3-xxxlarge w3-text-red"><b>No existing MRI scan file found. Please upload one.</b></h1>
  {% endif %}
  <h3 class="w3-text-red">
    <a href="{{ url_for('upload_file') }}" class="w3-margin-right" onclick="w3_open()">Upload new file.</a>
  </h3>
  </div>
{% endblock %}
