{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <!--  The form.hidden_tag() template argument generates
     a hidden field that includes a token that is used to
     protect the form against CSRF attacks. All you need to
     do to have the form protected is include this hidden field
     and have the SECRET_KEY variable defined in the Flask
     configuration. If you take care of these two things,
     Flask-WTF does the rest for you. -->

    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}
      {% for error in form.username.errors %}
        <span style="color:red;">[{{ error }}] </span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span style="color:red;">[{{ error }}] </span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
<p><a href="{{ url_for('register') }}">New User?</a></p>

{% endblock %}
