{% extends "base.html" %}

{% block content %}
<div class="w3-container">
     <h1 class="w3-xxxlarge w3-text-red"><b>Login.</b></h1>
     <hr style="width:50px;border:5px solid red" class="w3-round">

     <form action="" method="post" novalidate>
     {{ form.hidden_tag() }}
       <div class="w3-section">
         <label>{{ form.username.label }}</label>
         <br />
         {{ form.username() }}
         {% for error in form.username.errors %}
           <span style="color:red;">[{{ error }}] </span>
         {% endfor %}
       </div>

       <div class="w3-section">
         <label>{{ form.password.label }}</label>
         <br />
         <!-- <input class="w3-input w3-border" type="text" name="Name" required> -->
         {{ form.password() }}
         {% for error in form.password.errors %}
           <span style="color:red;">[{{ error }}] </span>
         {% endfor %}
       </div>

       <div class="w3-section">
         <label>{{ form.remember_me() }} {{ form.remember_me.label }}</label>
       </div>

       <div class="w3-section">
         {{ form.submit() }}
       </div>

       <h3 class="w3-text-red">
         <a href="{{ url_for('register') }}" class="w3-margin-right" onclick="w3_open()">New User?</a>
       </h3>

     </form>
</div>
{% endblock %}
